<a href="https://colab.research.google.com/github/monteroserra/introduction_python_programming/blob/main/Code_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêç Lab 1 ‚Äì Getting Started with Python

Welcome to your first hands-on coding lab! In this session, we‚Äôll explore the basics of Python programming.

By the end of this lab, you‚Äôll be able to:
- Write and run Python code
- Use variables and basic data types
- Perform simple arithmetic and print outputs
- Complete small coding exercises

---

## üñ®Ô∏è 1. Printing and Comments

Let's start by printing text to the screen using the `print()` function.

You can also add comments using the `#` symbol to explain your code.

In [1]:
# This prints a friendly greeting
print("Welcome to Python programming!") # This will print a message

Welcome to Python programming!

In [ ]:
# Printing multiple items separated by spaces
print("Name:", "Alice")

In [ ]:
# Printing numbers
print(2025)

In [ ]:
# You can also do basic math inside print
print("2 + 3 =", 2 + 3)

In [ ]:
# Print on multiple lines using \n
print("Line 1\nLine 2")

In [ ]:
# Print using single or double quotes
print('This is valid')
print("This is also valid")

In [ ]:
# Print with emojis or special characters
print("I ‚ù§Ô∏è Python!")

In [ ]:
### ‚úçÔ∏è Exercise 1.1

Print your name and your favorite programming-related quote.

## üì¶ 2. Variables and Data Types

Variables are used to store information in Python.

Python has several built-in data types:

- `int` ‚Äì integers  
- `float` ‚Äì decimal numbers  
- `str` ‚Äì strings (text)  
- `bool` ‚Äì booleans (`True` or `False`)

You don‚Äôt need to declare types ‚Äî Python is dynamically typed.

In [2]:
# Integer (int)
age = 25
print("Age:", age)

Age: 25

In [3]:
# Float (decimal number)
height = 1.75
print("Height in meters:", height)

Height in meters: 1.75

In [4]:
# String (text)
name = "Lina"
print("Name:", name)

Name: Lina

In [5]:
# Boolean (True or False)
is_student = True
print("Is a student?", is_student)

Is a student? True

In [6]:
# You can check the type of a variable with type()
print("Type of height:", type(height))

Type of height: <class 'float'>

In [7]:
name = "Alice"
age = 21
height = 1.68  # meters
is_student = True

print(name, age, height, is_student)

Alice 21 1.68 True

### ‚úçÔ∏è Exercise 2.1

Create variables for:
- Your favorite number
- A boolean indicating if you like Python
- A float with the value of pi

Then print all of them.

## ‚ûï 3. Arithmetic Operators

Python supports standard arithmetic operations: `+`, `-`, `*`, `/`, `**`, `//`, `%`

Python supports standard arithmetic operations:

| Operator | Description     | Example      |
|----------|-----------------|--------------|
| `+`      | Addition         | `2 + 3`      |
| `-`      | Subtraction      | `5 - 2`      |
| `*`      | Multiplication   | `4 * 3`      |
| `/`      | Division         | `10 / 2`     |
| `//`     | Floor Division   | `7 // 2 ‚Üí 3` |
| `%`      | Modulo (remainder) | `7 % 3 ‚Üí 1` |
| `**`     | Exponentiation   | `2 ** 3 ‚Üí 8` |

You can combine operations using parentheses to control the order of execution.

In [ ]:
# Addition
print("2 + 3 =", 2 + 3)

In [ ]:
# Subtraction
print("10 - 4 =", 10 - 4)

In [ ]:
# Multiplication
print("6 * 7 =", 6 * 7)

In [ ]:
# Division (always returns float)
print("8 / 2 =", 8 / 2)

In [ ]:
# Floor Division (drops decimal)
print("9 // 2 =", 9 // 2)

In [ ]:
# Modulo (gives remainder)
print("10 % 3 =", 10 % 3)

In [ ]:
# Exponentiation
print("3 ** 4 =", 3 ** 4)

In [8]:
# Combined operation
print("2 + 3 * 4 =", 2 + 3 * 4)
print("(2 + 3) * 4 =", (2 + 3) * 4)

2 + 3 * 4 = 14
(2 + 3) * 4 = 20

### ‚úçÔ∏è Exercise 3.1

Calculate and print:
- The area of a circle with radius 5 (œÄ x r2)
- The result of 7 squared minus 4
- The remainder of 23 divided by 5

## üìè 4. Input and Type Conversion

Use `input()` to get user input.  
By default, input values are stored as **strings (`str`)**.

You can convert input to other types using:
- `int()` ‚Üí for whole numbers
- `float()` ‚Üí for decimal numbers
- `str()` ‚Üí for text (usually not needed, as input returns strings by default)

üìù You can also use `type()` to check the data type of any value.

In [9]:
# Asking for a name (no need to convert)
name = input("What is your name? ")
print("Hello,", name)

What is your name? nacho
Hello, nacho

In [10]:
# Asking for age and converting to int
age = int(input("How old are you? "))
print("Next year, you‚Äôll be", age + 1)

How old are you? 37
Next year, you‚Äôll be 38

In [11]:
# Asking for height and converting to float
height = float(input("What is your height in meters? "))
print("Height + 0.1 =", height + 0.1)

What is your height in meters? 1.78
Height + 0.1 = 1.8800000000000001

In [13]:
# Checking the type of each input
print("Data type of name:", type(name))
print("Data type of age:", type(age))
print("Data type of height:", type(height))

Data type of name: <class 'str'>
Data type of age: <class 'int'>
Data type of height: <class 'float'>

In [14]:
print(f"Hello, {name}. You will be {age + 1} next year.")

Hello, nacho. You will be 38 next year.

## Exercise 4.1

### ‚úçÔ∏è Try it yourself!

1. Ask the user for:
   - Their name
   - The number of hours they study per day (float)
   - The number of days per week they study (int)

2. Calculate and print:
   - Total hours studied per week
   - A message like: `"Maria studies 3 hours/day, 5 days/week, totaling 15 hours per week."`

üîÅ Try changing input types and checking them with `type()`.

## üîé 5. Comparison Operators

Comparison operators are used to **compare values**.

They always return a **boolean** result: `True` or `False`.

| Operator | Meaning              | Example         |
|----------|----------------------|-----------------|
| `==`     | Equal to             | `5 == 5` ‚Üí `True` |
| `!=`     | Not equal to         | `3 != 4` ‚Üí `True` |
| `>`      | Greater than         | `7 > 2` ‚Üí `True` |
| `<`      | Less than            | `4 < 1` ‚Üí `False` |
| `>=`     | Greater than or equal| `6 >= 6` ‚Üí `True` |
| `<=`     | Less than or equal   | `2 <= 3` ‚Üí `True` |

These are often used in conditions (`if` statements) and logical expressions.

In [15]:
# Comparing numbers
print("5 == 5 ‚Üí", 5 == 5)      # True
print("10 != 7 ‚Üí", 10 != 7)    # True
print("8 > 12 ‚Üí", 8 > 12)      # False
print("6 <= 6 ‚Üí", 6 <= 6)      # True

5 == 5 ‚Üí True
10 != 7 ‚Üí True
8 > 12 ‚Üí False
6 <= 6 ‚Üí True

In [16]:
# Comparing strings
print('"apple" == "apple" ‚Üí', "apple" == "apple")  # True
print('"cat" < "dog" ‚Üí', "cat" < "dog")            # True (alphabetical)

"apple" == "apple" ‚Üí True
"cat" < "dog" ‚Üí True

In [17]:
# Mixing variables
age = 18
print("Is age greater than 16?", age > 16)

Is age greater than 16? True

## Exercise 5.1
### ‚úçÔ∏è Try it yourself!

1. Create two variables: `x` and `y` with any numbers you like.
2. Write and print the result of at least **3 comparisons**:
   - Are they equal?
   - Is one greater than the other?
   - Is one less than or equal to the other?

3. Optional: Try comparing two strings (e.g., `"banana" > "apple"`) and explain the result.

## üß† 6. Logical Operators

Logical operators let you **combine multiple conditions**.

| Operator | Description                    | Example                   |
|----------|--------------------------------|---------------------------|
| `and`    | True if **both** conditions are True | `True and True ‚Üí True` |
| `or`     | True if **at least one** is True    | `True or False ‚Üí True`  |
| `not`    | Reverses the result               | `not True ‚Üí False`       |

These are very useful in `if` statements and filters.

In [18]:
age = 20
is_student = True

# Check multiple conditions with 'and'
print("Is adult and student:", age >= 18 and is_student)  # True

Is adult and student: True
Is underage or student: True
Is NOT a student: False
True

In [ ]:
# Check with 'or'
print("Is underage or student:", age < 18 or is_student)  # True

In [ ]:
# Use 'not' to reverse
print("Is NOT a student:", not is_student)  # False

In [ ]:
# Combine more than two
print(age > 18 and age < 30 and is_student)  # True

## Exercise 6.1

### ‚úçÔ∏è Try it yourself!

1. Create two variables: `has_ticket` and `is_sober` (both booleans).
2. Write a condition that prints:
   - `"You can enter the concert"` if both are True (use `and`)
   - `"Access denied"` otherwise.

3. Create a variable `age`, and print whether the person is either a minor OR not a student.

##  üìö 7. Lists

A **list** is a collection of items in a specific order.

- You define a list with square brackets: `[ ]`
- Items are separated by commas
- You can store any data type (even mixed types!)

üìå Lists are **zero-indexed**, meaning the first item is at index 0.

You can:
- Access items with `list[index]`
- Add with `.append()`
- Remove with `.remove()` or `del`
- Check length with `len()`

In [19]:
# Create a list
fruits = ["apple", "banana", "cherry", "orange"]
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Access elements
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])  # Negative index

In [ ]:
# Add to list
fruits.append("grape")
print("After adding:", fruits)

In [ ]:
# Remove an item
fruits.remove("banana")
print("After removing banana:", fruits)

In [ ]:
# Replace an item
fruits[1] = "kiwi"
print("After replacement:", fruits)

In [20]:
# Check list length
print("Number of fruits:", len(fruits))

Number of fruits: 4

## üß† Bonus: Mixed Lists and Nested Lists

In [ ]:
# Mixed data types
mixed = ["Alice", 30, True, 1.75]
print(mixed)

In [ ]:
# List of lists (2D)
matrix = [[1, 2], [3, 4]]
print("Element at [1][0]:", matrix[1][0])

## Exercise 7.1
### ‚úçÔ∏è Try it yourself!

1. Create a list of 5 of your favorite movies.
2. Print:
   - The first and third movie
   - The last movie (use a negative index)
3. Add a new movie to the list and print the updated list.
4. Replace one movie with a new one.
5. Print the total number of movies using `len()`.

üéØ Bonus:
- Create a list of 3 lists (each with 2 items), and access one specific item using two indexes.

## üß† Code Lab 1 Assignment Exercises  

Now it‚Äôs your turn! Complete these exercises using the concepts you've learned.  
Think before you code ‚Äî and try to write comments in your code to explain what you're doing.

---

### ‚úçÔ∏è Exercise A ‚Äì The Future You (üìè Input + ‚ûï Arithmetic + üì¶ Variables)  
Ask the user for their name, current age, and dream job.  
Print a message like:  
> "Hi Ana! In 5 years, you‚Äôll be 27 and hopefully working as a marine biologist!"

---

### ‚úçÔ∏è Exercise B ‚Äì Study Tracker (üìè Input + ‚ûï Operators + str)  
Ask the user how many hours they study per day and how many days per week.  
Calculate total hours studied in a week and print a sentence like:  
> "You study 4 hours/day for 5 days/week = 20 hours per week."

---

### ‚úçÔ∏è Exercise C ‚Äì Favorite Numbers List (üìö Lists + ‚ûï Operators)  
Create a list of **5 favorite numbers**.  
Print:
- The sum of the numbers  
- The average  
- The largest and smallest values  
- A new list with all numbers multiplied by 2

---

### ‚úçÔ∏è Exercise D ‚Äì Book Collection (üìñ Dictionaries + str formatting)  
Create a dictionary for a favorite book with keys: `"title"